body{
    background-color: black;
    font-family: 'Handlee', cursive;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

#gameboard{
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 10% 90%; /*150px 5fr*/
    grid-template-rows: 10% 90%; /*100px 2fr*/
    grid-template-areas: "left-top middle-top"
                         "left-aside left-main"
}


#left-top{
    grid-area: left-top;
    border-right-color: white;
    border-right-width: 1px;
    border-right-style: solid;
    /* background-color: aqua; */
}

#middle-top{
    grid-area: middle-top;
    /* background-color: aqua; */
}

#left-aside{
    grid-area: left-aside;
    color: white;
    text-align: center;
    font-size: 24px;
    border-top-color: white;
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: white;
    border-right-width: 1px;
    border-right-style: solid;
    /* background-color: magenta; */
}

#left-main{
    grid-area: left-main;
    /* background-color: yellow; */


}
#user-message{
    /* background-color: purple; */
    padding: 5px;
    margin: 20px 30px;
    height: 50px;
    color: black;
    text-align: center;
}
.button{
    background-color: white;
    color: black;
    border-radius: 5px;
    border: 1px solid white;
    padding: 5px 10px;
    font-size: 16px;
}
#resetButton{
    margin-top: 10%;
    margin-left: 10%;
    font-size: 12px;
}

#player-one{
    padding: 5px;
}