body{
    background-color: black;
    font-family: 'Handlee', cursive;
}

#gameboard{
    display: grid;
    min-height: 150vh;
    /* margin: 0; */
    grid-template-columns: 150px 5fr;
    grid-template-rows: 100px 4fr;
    grid-template-areas: "left-top middle-top"
                         "left-aside left-main"
}


#left-top{
    grid-area: left-top;
    background-color: aqua;
}

#middle-top{
    grid-area: middle-top;

    background-color: aqua;
}

#left-aside{
    grid-area: left-aside;
    background-color: magenta;
}

#left-main{
    grid-area: left-main;
    background-color: yellow;


}
#user-message{
    background-color: purple;
    padding: 5px;
    margin: 20px 30px;
    height: 50px;
    color: black;
    text-align: center;
}
.button{
    background-color: white;
    color: black;
    border-radius: 5px;
    border: 1px solid white;
    padding: 5px 20px;
    font-size: 16px;
}
#resetButton{
    margin: 25px;
}