html, body{
    overflow: hidden;
}

body{
    background-color: black;
    font-family: 'Handlee', cursive;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

#gameboard{
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 10% 90%; /*150px 5fr*/
    grid-template-rows: 18% 82%; /*100px 2fr*/
    grid-template-areas: "left-top middle-top"
                         "left-aside left-main"
}



#leftTop{
    grid-area: left-top;
    border-right-color: white;
    border-right-width: 1px;
    border-right-style: solid;
    background-color: black;
    position: relative;
}

#middleTop{
    grid-area: middle-top;
    position: relative;
}

#leftAside{
    grid-area: left-aside;
    color: white;
    text-align: center;
    font-size: 24px;
    border-top-color: white;
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: white;
    border-right-width: 1px;
    border-right-style: solid;
    background-color: black;
}

#leftMain{
    grid-area: left-main;
}

#userMessage{
    /* background-color: purple; */
    padding-top: 5px;
    font-weight: bold;
    margin: 0px;
    color: white;
    font-size: 24px;
}

#userMessage2{
    /* background-color: purple; */
    padding-top: 5px;
    margin: 0px;
    color: white;
    font-size: 24px; 
}

#buttonDiv{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button{
    background-color: black;
    color: white;
    border: 1px solid #6096ba;
    font-size: 16px;
}

#resetButton{
    font-size: 12px;
    border: 1px solid #6096ba;
    padding: 7px 15px;
}

#playerOne{
    padding: 5px;

}

#playerIncHitId{
    font-size: 14px;
}

#playerDecHitId{
    font-size: 14px;
    text-align: center;
}

#incSpan{
    margin: 5px;
}

#decSpan{
    margin: 2px;

}

#middleTopDiv{
position: absolute;
padding-left: 1%;
}


/* twinkling sky from https://github.com/Carla-Codes/starry-night-css-animation/blob/master/index.html*/
@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

.stars, .twinkling {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
} 


.stars {
  background: black url(./img/stars.png) repeat top center ;
  z-index:0;
}

.twinkling{
  background: transparent url(./img/twinkling.png) repeat top center ;
  z-index:1;
  animation:move-twink-back 150s linear infinite;
}